*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
  display: flex;
  align-items:flex-start;
  padding: 0 72px;
  color: white;
  background-color: #1F2937;
  height: 72px;
  justify-content: space-around;
}

.links{
    display: flex;
    gap: 16px;
}

.header-logo{
    font-weight: bold;
}

.title{
    display: flex;
    background-color: #1F2937;
}

.hero-background{
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    height: 328px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero-text-main{
    font-size: 48px;
    font-weight: bolder;
}

.hero-text{
    flex: 1;
    font-size: 18px;
    font-weight: lighter;
}

.button{
    border: none;
    border-radius: 8px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
}

.tree{
    width: 500px;
    height: auto;
}







