*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
  display: flex;
  align-items:flex-start;
  padding: 0 72px;
  color: white;
  background-color: #1F2937;
  height: 72px;
  justify-content: space-around;
}

.links{
    display: flex;
    gap: 16px;
}

.header-logo{
    font-weight: bold;
}

.title{
    display: flex;
    background-color: #1F2937;
}

.hero{
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 328px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero-text-main{
    font-size: 48px;
    font-weight: bolder;
}

.tree{
    width: 25%;
    height: auto;
}

